/*Estilo para el cuerpo de la pagina */
body {
    text-align: justify;
    background-color: rgb(244, 227, 193);
    color:rgb(28, 28, 28);
    font-family: 'Rubik', sans-serif;
    padding-top: 80px;
  }

.contenedor-principal{
  margin-top: 16px;
  padding-left: 48px;
  padding-right: 48px;
}

.contenedor-principal h1,h3{
  text-align: center;
}
