/* Estilos generales para el body de la página */

body {
  background-color: rgb(244, 227, 193); 
  color: rgb(28, 28, 28); 
  font-family: 'Rubik', sans-serif; 
  padding-top: 70px; 
  margin: 0;
  overflow-x: hidden;
}

.container-fluid-2 {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;

}
.banner-container{
  padding: 0;
  margin: 0;
}



.imagen-catalogo {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.container-catalogo{
  margin-top: 24px;
  padding-top: 24px;
}


.card-img-container {
  height: 200px; /* o el alto que prefieras */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* recorta sin deformar */
}

.img-producto {
  width: 100%;
  height: 300px; /* o el alto que prefieras */
  object-fit: contain; /* recorta y rellena sin deformar */
  border-radius: 8px;
}
 .card-previous-price{
   color: #6c757d;
   text-decoration: line-through;
 }
 
 .card-price-now, .beneficios{
   color: #198754;
 }
 
 .beneficios{
   font-size: 0.875rem
 }

 .filtro-con-borde {
  border-right: 3px solid #e2c799;
  padding-right: 14px;
  padding-left: 24px;
  margin-bottom: 24px;
}

.filtro{
  margin-bottom: 16px;
}

.alerta-catalogo{
  margin-top: 24px;
}

.fila-productos{
  margin-bottom: 48px;
}

.producto{
  margin-bottom: 24px;
}
.card-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-body-flex {
  display: flex;
  flex-direction: column;
}

.boton-carrito{
  margin-top: auto;
}

.btn-carrito{
 width: 100%;
 margin-top: 16px;
}