/* Bloque de titulares */
.bloque-titulares {
  background-color: #f9f4e8;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

.bloque-titulares h2 {
  color: #2a3d66;
  margin-bottom: 10px;
}

.bloque-titulares p {
  font-size: 18px;
  margin: 5px 0;
}

.bloque-titulares .eslogan-box {
  font-style: italic;
  color: #555;
  margin-top: 10px;
}




body {
    background-color: rgb(244, 227, 193);
    color:rgb(28, 28, 28);
    font-family: 'Rubik', sans-serif;
    padding-top: 80px;
  }

  h1, h2{
    color:rgb(28, 28, 28);
    font-family: 'Oswald', sans-serif;
  }
  /*Contactos */
  .bgcustom {
      background-color: #ffffff; /* ejemplo de amarillo tipo Tailwind yellow-400 */
    }
  
    .contact-form input, .contact-form textarea {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
      cursor:text;
    }
    #mensaje{
      resize: none;         /* Quita la esquina de agrandar */
      height: 160px;        /* Aproximadamente 7 filas de texto */
      padding: 10px;        /* Espaciado interno para mejor visual */
      line-height: 1.4;     /* Mejora la legibilidad */
    }
    .iconos-redes{
      display: flex;          /* Organiza los íconos sociales en fila */
      gap: 10px;              /* Espacio de 10px entre los íconos sociales */
      margin-bottom: 10px;    /* Espacio debajo del grupo de íconos */
    }
   
    .iconos-redes i {
      font-size: 29px;
    }

/*Mapa */
    .map-responsive {
      overflow: hidden;
      padding-bottom: 56.25%; /* relación 16:9 */
      position: relative;
      height: 0;
    }
    
    .map-responsive iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }

