body {
  margin-top: 50px;
    padding-top: 40px;
    background-color: rgb(244, 227, 193);
    font-family: 'Rubik', sans-serif;
    color: #1c1c1c;
}

h1, h2 {
  text-align: center;
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.fondo-principal {
  background: #f4e3c1; /* Color crema */
  padding: 40px 0;
  min-height: 100vh;
}

.capa-beige {
  background: #faefd8; /* Un beige un poco más fuerte */
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.capa-blanca {
  background: white;
  padding: 30px;
  border-radius: 15px;
}


.card-lateral, .card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  padding: 20px;
  transition: transform 0.2s ease;
}

.card-lateral:hover, .card:hover {
  transform: translateY(-3px);
}

canvas {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 1rem;
  color: #555;
  margin: 0;
}


.card-lateral {
  background-color: #f5f5f5;
  border-left: 5px solid #3498db;
  padding: 7px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



.card-lateral h3 {
  margin: 0 0 10px;
  font-size: 16px;
  color: #2c3e50;
}


.card-lateral p {
  font-size: 18px;
  font-weight: bold;
  color: #34495e;
}


