/* Estilos generales para el body de la página */
body {
  text-align: justify; 
  background-color: rgb(244, 227, 193); 
  color: rgb(28, 28, 28); 
  font-family: 'Rubik', sans-serif; 
  padding-top: 80px; 
}

/* Estilo para los íconos de pago  */
.payment-icons img {
  width: 60px; /* Ancho fijo de los íconos */
  margin: 8px; /* Separación entre íconos */
  object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsión */
}

/* Contenedor general de los acordeones */
.accordion-container {
  margin-bottom: 40px; /* Espacio inferior entre el acordeón y otros elementos */
}

/* Estilos para las secciones del acordeón */
.accordion-section {
  background-color: #f6e1b5; /* Color de fondo*/
  border-radius: 8px; /* Bordes redondeados */
}

/* Estilos para el encabezado del acordeón */
.accordion-header {
  padding: 12px 20px; /* Espaciado interno horizontal y vertical */
  cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
  font-weight: bold; /* Texto en Negrita */
  font-size: 16px; 
  display: flex; /* Usa flexbox para distribuir elementos */
  align-items: center; /* Centra verticalmente */
  justify-content: space-between; /* Espacio entre elementos del encabezado (por ejemplo, íconos y texto) */
}

  
  
  

  