.footer{
    background: rgb(42, 76, 106);
    color: rgb(244, 227, 193);
    padding: 40px 20px; /* Espaciado interno: 40px arriba/abajo, 20px a los lados */
    font-family: 'Trebuchet MS', sans-serif;
    display: flex; /* Layout flexible para acomodar las secciones */
    flex-wrap: wrap; /* Permite que los elementos bajen a la siguiente línea si no entran */
    justify-content: space-between; /* Espacio uniforme entre secciones */
    gap: 20px; /* Espacio entre los elementos del footer */
    border-top: 1px solid #eee; /* Línea superior sutil para separar del contenido anterior */
    margin-top: 48px;
  }

  
  .footer-section {
    flex: 1 1 200px; /* Cada sección del footer ocupa al menos 200px y puede expandirse */
  }

  .footer-section h4 {
   font-weight: bold; /* Títulos dentro de cada sección con negrita */
 }
 /* Lista sin viñetas ni espaciado interno */
 .footer-section ul {
   list-style: none;
   padding: 0;
 }
 
 .footer-section ul li {
   margin-bottom: 5px; /* Espacio inferior de 5px (entre elementos de una lista) */
 }
 
 .footer-section a {
   color: rgb(244, 227, 193);
   text-decoration: none; /* Elimina la subrayado del texto */
 }
 
 .footer-section a:hover {
   color: rgb(109, 174, 219);
   text-decoration: underline; /* Subraya el texto  */
 }
 
 .icon-grid {
   display: flex;          /* Organiza los íconos en fila usando Flexbox */
   flex-wrap: wrap;        /* Permite que los íconos pasen a otra línea si no entran */
   gap: 10px;              /* Espacio de 10px entre los íconos */
 }
 
 .icon-grid img {
   width: auto;            /* Ancho fijo de 40px para los íconos */
   height: 29px;           /* Mantiene la proporción original de la imagen */
   object-fit: contain;     /* Ajusta sin recortar ni deformar */
 }
 
 .social-icons {
   display: flex;          /* Organiza los íconos sociales en fila */
   gap: 10px;              /* Espacio de 10px entre los íconos sociales */
   margin-bottom: 10px;    /* Espacio debajo del grupo de íconos */
 }

 .social-icons i {
  font-size: 25px;
  color: rgb(244, 227, 193);
  transition: color 0.3s ease;/* Transición suave cuando cambia el color del texto */
}

.social-icons i:hover {
  color: rgb(109, 174, 219);
}
      
 .consulta-btn {
   background-color: #2b3a42;    /* Azul */
   color: rgb(244, 227, 193);               /* Texto blanco */
   padding: 10px 20px;          /* Espaciado interno */
   border: none;                /* Sin borde */
   border-radius: 5px;          /* Bordes redondeados */
   transition: background-color 0.3s ease; /* Transición suave cuando cambia el color de fondo */
 }
 
 .consulta-btn:hover {
   background-color: rgb(109, 174, 219);   /* Azul más oscuro al pasar el mouse */
 }
 