.navbar {
    background-color: rgb(42, 76, 106);
    font-family: "Trebuchet MS" , sans-serif;
    color: cadetblue;
  }

  .navbar-dark .navbar-brand {
    color: rgb(244, 227, 193) !important;
  }
  

  .navbar-brand {
    padding: 0px;
    color: rgb(244, 227, 193); 
    display: flex;
    align-items: center;
  }
  
  .navbar-brand:hover {
    color: rgb(109, 174, 219);
  }
  
  .navbar-nav .nav-link {
    color: rgb(244, 227, 193);
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    color: rgb(109, 174, 219);
  }
  
  .form-control {
    height: 40px;
    background-color: white;
    color: 	rgb(28, 28, 28);
  }
  
  .form-control:focus {
    border-color: rgb(109, 174, 219);
    box-shadow: 0 0 0 0.2rem rgba(109, 174, 219, 0.25);
  }
  
  .btn-icon {
    width: 60px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgb(244, 227, 193);  /* borde beige */
    color: rgb(244, 227, 193);             /* ícono beige */
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-icon:hover {
    background-color: rgb(109, 174, 219);  /* azulcito */
    color: rgb(28, 28, 28);                /* ícono oscuro */
    border: 1px solid rgb(109, 174, 219);  /* borde azul al pasar el mouse */
  }
  
  